@import '@styles/vars';

.accoridian-list {
  display: flex;
  flex-direction: column;
  .title {
    background: none;
    border: none;
    border-bottom: 0.1rem solid $grey-4;
    padding: 0.5rem 0;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    cursor: pointer;
  }
  .list {
    height: 0;
    display: none;
  }
  &.open-list {
    .list {
      height: initial;
      display: block;
    }
  }
}
