@import '@styles/vars';

.accoridian-list {
  display: flex;
  flex-direction: column;
  .title {
    background: none;
    border: none;
    border-bottom: 0.1rem solid $grey-4;
    padding: 0.5rem 0;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    cursor: pointer;
  }
  .list {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
    overflow: auto;
  }
  &.open-list {
    .list {
      max-height: 55rem;
      visibility: visible;
      opacity: 1;
      transition: 0.5s ease;
    }
  }
}
