@import '@styles/vars';

.url-list {
  width: 100%;
  max-width: 42.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  &.delete-mode {
    .list-item {
      width: calc(100% - 6rem);
      .item-name {
        width: 100%;
      }
    }
  }
  .list-group {
    margin: 2rem 0;
    display: flex;
  }
  .list-item {
    width: 100%;
    border: none;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    .item-name {
      width: 100%;
      margin-right: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      &.unlisted {
        opacity: 0.5;
      }
    }
    .item-details {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      p {
        margin-bottom: 1rem;
      }
    }
  }
}

@media (min-width: $screen-tablet) {
  .url-list {
    &.condensed {
      width: 40%;
      margin: 0;
      .list-item {
        flex-direction: column;
        align-items: flex-start;
        .item-details {
          align-items: flex-start;
        }
      }
    }
  }
}

@media (min-width: $screen-desktop) {
  .url-list {
    &.condensed {
      width: 35%;
      max-width: 36rem;
      .list-item {
        flex-direction: row;
      }
    }
  }
}
