@import '@styles/vars';

.url-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .list-group {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    .item-details {
      width: calc(100% - 7rem);
      display: flex;
      flex-direction: column;
      &.edit-mode {
        width: calc(100% - 21rem);
      }
      .item-name {
        word-break: break-word;
        &.unlisted {
          opacity: 0.5;
        }
      }
      .item-opens {
        display: flex;
        align-items: center;
        gap: 1rem;
        p {
          margin-bottom: 1rem;
        }
      }
    }
    .item-cta {
      display: flex;
      gap: 1rem;
    }
  }
  .placeholder {
    .title {
      height: 3rem;
      border-bottom: 0.1rem solid $grey-4;
      > div {
        width: 14rem;
        height: 2rem;
        border: none;
        border-radius: 0.8rem;
        background: $grey-3;
      }
    }
    .list-group {
      .item-details {
        .item-name {
          width: 10rem;
          height: 1.5rem;
          margin: 0.25rem 0;
          border: none;
          border-radius: 0.8rem;
          background: $grey-3;
        }
        .item-opens {
          > div {
            width: 10rem;
            height: 1.5rem;
            margin: 0.25rem 0 1rem;
            border: none;
            border-radius: 0.8rem;
            background: $grey-3;
          }
          > svg {
            path {
              stroke: $grey-5;
            }
          }
        }
      }
    }
  }
}

@media print {
  .url-list {
    display: none;
  }
}
