@import '@styles/vars';

.url-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .list-group {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    .item-details {
      width: calc(100% - 7rem);
      display: flex;
      flex-direction: column;
      &.edit-mode {
        width: calc(100% - 21rem);
      }
      .item-name {
        word-break: break-word;
        &.unlisted {
          opacity: 0.5;
        }
      }
      .item-opens {
        display: flex;
        align-items: center;
        gap: 1rem;
        p {
          margin-bottom: 1rem;
        }
      }
    }
    .item-cta {
      display: flex;
      gap: 1rem;
    }
  }
}
