@import '@styles/vars';

.home {
  max-width: 60rem;
  margin: 1rem auto 5rem;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  > div {
    flex-basis: 100%;
  }
  &.menu-open {
    max-width: 120rem;
    height: calc(100vh - 5rem);
    overflow: hidden;
  }
}

@media (min-width: $screen-tablet) {
  .home {
    &.menu-open {
      height: calc(100vh - 5rem);
    }
  }
}

@media (min-width: $screen-desktop) {
  .home {
    gap: 2%;
    &.menu-open {
      max-width: 120rem;
      height: unset;
      overflow: visible;
      padding: 0 4rem;
      > div {
        flex-basis: 48%;
      }
    }
  }
}
