@import '@styles/vars';

.edit-form {
  max-width: 53rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  form {
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    .form-row {
      margin-bottom: 2rem;
      display: flex;
      align-items: flex-end;
      p {
        margin-right: 1rem;
        margin-bottom: 1rem;
      }
    }
    .ctas {
      display: flex;
      > * {
        margin-right: 2rem;
      }
    }
  }
}

@media (min-width: $screen-tablet) {
  .edit-form {
    padding: 2rem 0 0 2rem;
  }
}

@media (min-width: $screen-desktop) {
  .edit-form {
    form {
      grid-template-columns: auto 17rem;
      align-items: flex-start;
      grid-template-areas:
        'name listed'
        'slug listed'
        'url url'
        'ctas ctas';

      :global(.grid-name) {
        grid-area: name;
      }
      :global(.grid-listed) {
        grid-area: listed;
        margin-top: 2.7rem;
      }
      :global(.grid-slug) {
        grid-area: slug;
      }
      :global(.grid-url) {
        grid-area: url;
      }
      :global(.grid-ctas) {
        grid-area: ctas;
        .ctas {
          width: 100%;
          justify-content: flex-end;
          > * {
            margin-right: 0;
            margin-left: 2rem;
          }
        }
      }
    }
  }
}
