@import '@styles/vars';

.page-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: $grey-1;
  h1, .header {
    margin: 2rem;
  }
  h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    padding: 0;
  }
  .header {
    max-width: 82rem;
    button {
      margin-right: 1rem;
      margin-bottom: 2rem;
    }
  }
}