@import "@styles/vars";

.url-manager {
  max-width: 80rem;
  margin: 2rem auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  > button {
    width: 12rem;
    height: 4rem;
    border: none;
    border-radius: 0.5rem;
    background: $grey-8;
    display: inline-block;
    font-size: 1.4rem;
    color: white;
    span {
      margin-left: 1rem;
    }
  }
}
