@import "@styles/vars";

html {
  font-size: 62.5%;
  body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.4rem;
  }
  body,
  a,
  button,
  p,
  h1,
  h2,
  h3 {
    margin: 0;
    color: $grey-9;
  }
}
