$primary-default: #20262c;
$primary-border: #d4d9de;
$primary-light-bg: #f3f5f7;
$grey-1: #fff;
$grey-2: #f9fafb; /* Table Header */
$grey-3: #f3f5f7; /* Background */
$grey-4: #e5e8eb; /* Dividers */
$grey-5: #c8cfd5; /* Border */
$grey-6: #b7bfc7; /* Disable */
$grey-7: #808c97; /* Secondary Text | Caption */
$grey-8: #505962; /* Primary Text | Body */
$grey-9: #20262c; /* Title */
$grey-10: #0b0d0f;

$screen-mobile-l: 425px;
