@import '@styles/vars';

.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $grey-1;
  &.hidden {
    display: none;
  }
}

@media (min-width: $screen-tablet) {
  .menu {
    position: sticky;
    width: unset;
    height: unset;
    display: block;
  }
}

@media (min-width: $screen-desktop) {
  .menu {
    width: 45%;
    margin-left: 4rem;
  }
}