@import '@styles/vars';

.menu {
  position: fixed;
  top: 0;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  background-color: $grey-1;
}

@media (min-width: $screen-desktop) {
  .menu {
    position: static;
    overflow: visible;
    width: unset;
    height: unset;
  }
}

@media print {
  .menu {
    overflow: hidden;
  }
}